* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #333333;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 7%;
    margin-bottom: 50px;
    gap: 30px;

    & h1 {
        color: #ffffff;
    }

    & button {
        background-color: blueviolet;
        color: white;
        border: none;
        padding: 0px 25px;
        border-radius: 50px;

        &:hover {
            background-color: rgb(27, 125, 14);
            cursor: pointer;
            box-shadow: 0px 10px 50px rgb(54, 200, 5);
        }
    }
}

form {
    padding: 10px 7%;
}

label {
    width: 100%;
    background-color: aqua;

}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    outline: none;
}

input:focus {
    background-color: rgb(230, 233, 233);
    border: 1px solid red;
}

input[type="submit"] {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    cursor: pointer;

    &:hover {
        background-color: rgb(73, 163, 24);
    }
}

input[type="reset"] {
    background-color: rgb(250, 22, 102);
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 255, 255);
        color: black;
        border: 1px solid red;
    }
}